homework2/.metadata
eclipse
homework3/it.disim.univaq.ecommerce_shop.model/.classpath
homework2/it.disim.univaq.ecommerce/.classpath
homework2/it.disim.univaq.ecommerce.model.edit/.classpath
homework2/it.disim.univaq.ecommerce.model.editor/.classpath
homework3/.project
